.wrapper {
  max-width: 400px;
  margin: 15px auto;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--color-decoration);
  box-shadow: var(--box-shadow-decor);
}

.input {
  display: block;
  margin-top: 5px;
  height: 32px;
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.label {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 1rem;
}
