.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formItem {
  width: 100%;
}

.input {
  display: block;
  margin-top: 5px;
  height: 32px;
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

input:focus {
  border: 1px solid var(--color-focus);
}

.error {
  color: var(--color-red);
}
