:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-decoration: #646cff;
  --color-focus: #ffd51b;
  --color-red: #ec1212;
  --border-color: #999999;
  --box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  font-family: inherit;
  font-weight: 700;
  color: currentColor;
  text-decoration: inherit;
  display: block;
  padding: 1rem 0px;
  transition: color 0.25s;
}

a:hover {
  color: #646cff;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s,
    background-color 0.25s;
  outline: none;
  box-shadow: var(--box-shadow);
  height: 41px;
}

button:hover {
  border-color: #646cff;
}

input:focus {
  border: 1px solid var(--color-focus);
}

input:placeholder-shown {
  font-style: italic;
}

.no-scroll {
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #e3dddd;
  }
  button {
    background-color: #dedede;
    border-color: currentColor;
  }
  button:hover {
    color: #646cff;
  }
  input {
    background-color: #f9f9f9;
  }
}
