.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 1rem;
}

.username {
  font-weight: 700;
}

.button {
  max-width: 137px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
